<div class="resource grid grid-2col align-center ">
    {{#each hitlocs as |location index|}}
    <div>
        <label for="location.no" class="label">{{#if (lessThan location.data.noStart location.data.noEnd)}}{{location.data.noStart}}-{{/if}}{{location.data.noEnd}}</label>
        <div><label for="location.name" class="resource-label">{{location.data.name}}</label></div>
        <div class="resource-content flexrow flex-center flex-between">
            <div class="resource-counter" data-states="/:shock,x:killing" data-max="{{location.data.max}}"
                data-shock="{{location.data.shock}}" data-killing="{{location.data.killing}}" data-name="{{location._id}}">
                {{#numLoop location.data.max}}
                <span class="resource-counter-step" data-index="{{this}}" data-state="">☐</span>
                {{/numLoop}}
            </div>
        </div>
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item" data-name="{{location._id}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item" data-name="{{location._id}}"><i class="fas fa-trash"></i></a>
          </div>
    </div>
    {{/each}}
</div>